@model TaskTracker.Infrastructure.Entities.TaskEntity

@{
    ViewBag.Title = "Home Page";
}

<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
      $(function () {
          $("#startDateInput").datepicker({ dateFormat: 'dd/mm/yy' });
          $("#endDateInput").datepicker({ dateFormat: 'dd/mm/yy' });
      });
  </script>
</head>
<div id="main">
    <div class="jumbotron">
        <div class="row" style="margin-bottom: 15px;">
            @using (Html.BeginForm("Create", "Task"))
            {
                <p>Create new Task:</p>
                <div class="col-xs-10 col-md-4">
                    @Html.LabelFor(model => model.Name)
                    <input type="text" name="Name" />
                </div>

                <div class="col-xs-10 col-md-4">
                    @Html.LabelFor(model => model.StartDate)
                    <input type="text" name="StartDate"  id="startDateInput"/>
                </div>
                <div class="col-xs-10 col-md-4">
                    @Html.LabelFor(model => model.EndDate)
                    <input type="text" name="EndDate" id="endDateInput"/>
                    <input type="submit" class="btn btn-default" style="" />
                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-10">
                <span style="color: green">
                    @ViewBag.SaveUnitsMessage
                </span>
            </div>
        </div>
    </div>
</div>

 <script>
  $(function() {
      $("#startDateInput").datepicker();
      $("#endDateInput").datepicker();
  });
  </script>
